<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!--<properties resource="../../../Files/properties.config"/>-->
  <settings>
    <setting useStatementNamespaces="false" />
  </settings>
  <!--<providers resource="../../../Files/providers.config"/>-->
  <!-- Database connection information -->
  <database>
    <provider name="oracleClient1.0" />
    <dataSource name="DBSrc" connectionString="Data Source=ORAMIG;User Id=xbil;Password=x1234;Integrated Security=no" />
    <!--<dataSource name="MED" connectionString="Data Source=crs;User Id=MED;Password=medkrs;Integrated Security=no"/>-->
  </database>
  <sqlMaps>
    <sqlMap resource="./Xml/DH.Sql.xml" />
  </sqlMaps>
</sqlMapConfig>